---
# tasks file for create_kali_vm_tpl_on_proxmox
- name: Retrieve latest QEMU image URL
  ansible.builtin.uri:
    url: "{{ base_url }}"
    return_content: true
  register: webpage
  when: qemu_image_url is not defined or qemu_image_url == ""
  tags:
    - fetch_qemu_image

- name: Parse webpage content to find latest QEMU image
  ansible.builtin.set_fact:
    qemu_image: "{{ webpage.content | regex_findall('kali-linux-\\d+\\.\\d+-qemu-amd64\\.7z') | sort | last }}"
  when: qemu_image_url is not defined or qemu_image_url == ""
  tags:
    - fetch_qemu_image

- name: Construct full URL for latest QEMU image
  ansible.builtin.set_fact:
    qemu_image_url: "{{ base_url }}{{ qemu_image }}"
  when: qemu_image_url is not defined or qemu_image_url == ""
  tags:
    - fetch_qemu_image

- name: Print QEMU image URL
  ansible.builtin.debug:
    var: qemu_image_url
  tags:
    - fetch_qemu_image

- name: Check if QEMU image already downloaded
  ansible.builtin.stat:
    path: "{{ image_path }}"
  register: image_file
  tags:
    - fetch_qemu_image

- name: Check if qcow2 file already extracted
  ansible.builtin.find:
    paths: "{{ qcow2_image_directory }}"
    patterns: "kali-linux-*.qcow2"
  register: extracted_qcow2
  tags:
    - fetch_qemu_image

- name: Fetch latest QEMU image
  ansible.builtin.get_url:
    url: "{{ qemu_image_url }}"
    dest: "{{ image_path }}"
    mode: '0644'
  register: get_qemu_image
  failed_when: get_qemu_image is failed
  when: not image_file.stat.exists and extracted_qcow2.matched == 0
  tags:
    - fetch_qemu_image

- name: Install p7zip package
  ansible.builtin.package:
    name: p7zip-full
    state: present
  when: extracted_qcow2.matched == 0
  tags:
    - decompress_image

- name: Decompress .7z archive
  ansible.builtin.command: "7z x {{ image_path }} -o{{ qcow2_image_directory }} -y"
  when: extracted_qcow2.matched == 0
  tags:
    - decompress_image_7z

- name: Find extracted .qcow2 file
  ansible.builtin.find:
    paths: "{{ qcow2_image_directory }}"
    patterns: "kali-linux-*.qcow2"
  register: qcow2_files
  tags:
    - decompress_image

- name: Rename extracted files
  ansible.builtin.file:
    src: "{{ item.path }}"
    dest: "{{ qcow2_image_directory }}/{{ qcow2_image_name }}"
    state: link
  loop: "{{ qcow2_files.files }}"
  tags:
    - decompress_image

- name: Remove extracted .7z file
  ansible.builtin.file:
    path: "{{ image_path }}"
    state: absent
  tags:
    - decompress_image

- name: Check if VM already exists
  ansible.builtin.shell: qm status {{ vm_id }}
  register: vm_exists
  ignore_errors: true
  changed_when: false
  tags:
    - create_vm

- name: Create VM
  ansible.builtin.shell: |
    qm create {{ vm_id }} \
    --name {{ vm_template }} \
    --memory {{ vm_memory }} \
    --sockets {{ vm_sockets }} \
    --cores {{ vm_cores }} \
    --cpu cputype=host \
    --net0 virtio,bridge={{ network_bridge }} \
    --numa {{ numa }} \
    --ostype l26 \
    --scsihw virtio-scsi-single
  when: vm_exists.rc != 0
  tags:
    - create_vm

- name: Check if qcow2 file exists in /tmp
  ansible.builtin.stat:
    path: "/tmp/{{ qcow2_image_name }}"
  register: qcow2_in_tmp
  tags:
    - import_disk

- name: Import Disk to VM
  ansible.builtin.shell: |
    qm importdisk {{ vm_id }} /tmp/{{ qcow2_image_name }} {{ storage }} --format qcow2
  when: qcow2_in_tmp.stat.exists or qcow2_in_tmp.stat.islnk
  tags:
    - import_disk

- name: Remove qcow2 file from /tmp
  ansible.builtin.file:
    path: "/tmp/{{ qcow2_image_name }}"
    state: absent
  when: qcow2_in_tmp.stat.exists or qcow2_in_tmp.stat.islnk
  tags:
    - import_disk

- name: Check if virtio0 disk already attached
  ansible.builtin.shell: qm config {{ vm_id }} | grep -q "^virtio0:"
  register: disk_attached
  ignore_errors: true
  changed_when: false
  tags:
    - add_disk

- name: Get storage type
  ansible.builtin.shell: |
    pvesm status | awk '$1=="{{ storage }}" {print $2}'
  register: storage_type_result
  when: disk_attached.rc != 0
  tags:
    - add_disk

- name: Set storage type fact
  ansible.builtin.set_fact:
    storage_type: "{{ storage_type_result.stdout | trim }}"
  when: disk_attached.rc != 0
  tags:
    - add_disk

- name: Add Disk to VM (ZFS storage)
  ansible.builtin.shell: |
    qm set {{ vm_id }} --virtio0 {{ storage }}:vm-{{ vm_id }}-disk-0,discard=on,cache=writeback,iothread=1
  when: disk_attached.rc != 0 and storage_type is match(".*zfs.*")
  tags:
    - add_disk

- name: Add Disk to VM (LVM/LVMThin storage)
  ansible.builtin.shell: |
    qm set {{ vm_id }} --virtio0 {{ storage }}:vm-{{ vm_id }}-disk-0,discard=on,cache=writeback,iothread=1
  when: disk_attached.rc != 0 and (storage_type == "lvm" or storage_type == "lvmthin")
  tags:
    - add_disk

- name: Add Disk to VM (Directory storage)
  ansible.builtin.shell: |
    qm set {{ vm_id }} --virtio0 {{ storage }}:{{ vm_id }}/vm-{{ vm_id }}-disk-1.qcow2,discard=on,cache=writeback,iothread=1
  when: disk_attached.rc != 0 and storage_type == "dir"
  tags:
    - add_disk

- name: Set params to VM
  ansible.builtin.shell: |
    qm set {{ vm_id }} --scsi1 {{ storage }}:cloudinit
    qm set {{ vm_id }} --serial0 socket
    qm set {{ vm_id }} --boot c -bootdisk virtio0
    qm set {{ vm_id }} --agent 1
    qm set {{ vm_id }} --hotplug disk,network,usb,memory,cpu
    qm set {{ vm_id }} --vga qxl
  tags:
    - set_params

# - name: Set VM name
#   ansible.builtin.shell: |
#     qm set {{ vm_id }} --name {{ vm_template }}
#   tags:
#     - set_vm_name

# - name: Copy Cloud Init config file to Proxmox
#   ansible.builtin.template:
#     src: ci_config.yaml.j2
#     dest: "/var/lib/vz/snippets/ci_config.yaml"
#     owner: root
#     group: root
#     mode: u=rw,g=r,o=r
#   tags:
#     - ci_config

# - name: Apply Cloud Init config to VM
#   ansible.builtin.shell: |
#     qm set {{ vm_id }} --cicustom 'user=local:snippets/ci_config.yaml'
#   tags:
#     - ci_config

# - name: Change default user to sysadmin for CloudInit
#   ansible.builtin.shell: |
#     qm set {{ vm_id }} --ciuser={{ default_user }}
#   tags:
#     - change_default_user

# - name: Change password of default user for CloudInit
#   ansible.builtin.shell: |
#     qm set {{ vm_id }} --cipassword={{ default_user_password }}
#   tags:
#     - change_default_password

- name: Add Public SSH key to VM
  ansible.builtin.shell: |
    qm set {{ vm_id }} --sshkey <(echo '{{ public_ssh_key }}')
  args:
    executable: /bin/bash
  tags:
    - add_sshkey
    - cloud-init

- name: Apply Network Config
  ansible.builtin.shell: |
    qm set {{ vm_id }} --ipconfig0 ip=dhcp
  tags:
    - net_config
    - cloud-init

# ## When `local-zfs` storage is used
# - name: Resize VM
#   ansible.builtin.shell: |
#     zfs set volsize=50G rpool/data/base-{{ vm_id }}-disk-0
#     sed -i -r '/^virtio0/s/(size=)[^,]*/\150G/' /etc/pve/qemu-server/{{ vm_id }}.conf
#   register: vm_size 
#   ignore_errors: true
#   when: storage == "local-zfs"
#   tags:
#     - resize_vm
#     - cloud-init

# ## When `local` storage is used
# - name: Resize VM
#   ansible.builtin.shell: |
#     qm resize {{ vm_id }} virtio0 50G
#   register: vm_size 
#   ignore_errors: true
#   when: storage == "local"
#   tags:
#     - resize_vm
#     - cloud-init

- name: Create template {{ vm_id }}
  ansible.builtin.shell: |
    qm template {{ vm_id }}
  tags:
    - create_template

- name: Usefull variables
  debug:
    msg:
    - "Technical info of created Template VM:"
    - "ID: {{ vm_id }}"
    - "OS Release: {{ qemu_image_url }}"
    - "Template Name: {{ vm_template }}"
  tags:
    - output